
<html>
<body>
	  <h1>Library</h1>
 
  <form>
	    <h1>Book Scan:</h1>
	    
    <div class="contentform">
    	<div id="sendmessage"> Book Scaned. </div>


    	<div class="leftcontact">
			      <div class="form-group">
			        <p>Bar Code<span>*</span></p>
			        <span class="icon-case"></span>
				        <input type="text" name="nom" id="nom" data-rule="required"/>
                <div class="validation"></div>
       </div> 

            <div class="form-group">
            <p>ISBN <span>*</span></p>
            <span class="icon-case"></span>
				<input type="text" name="isbn" id="isbn" data-rule="required" />
                <div class="validation"></div>
			</div>

			<div class="form-group">
			<p>Title <span>*</span></p>	
			<span class="icon-case"></span>
                <input type="text" name="title" id="title" data-rule="required" />
                <div class="validation"></div>
			</div>	

			<div class="form-group">
			<p>Author <span>*</span></p>
			<span class="icon-case"></span>
				<input type="text" name="author" id="author" data-rule="required" />
                <div class="validation"></div>
			</div>

			<div class="form-group">
			<p>Genre <span>*</span></p>
			<span class="icon-case"></span>
				<input type="text" name="genre" id="genre" data-rule="required"/>
                <div class="validation"></div>
			</div>

				



	</div>

	<div class="rightcontact">	

			<div class="form-group">
			<p>Out Date <span>*</span></p>
			<span class="icon-case"></span>
            <input type="date" id="date" name="outdate" >
				<div class="validation"></div>
			</div>	

			<div class="form-group">
			<p>Return Date <span>*</span></p>	
			<span class="icon-case"></span>
				<input type="date" id="date" name="returndate" >
                <div class="validation"></div>
			</div>

			<div class="form-group">
			<p>Publisher <span>*</span></p>
			<span class="icon-case"></span>
                <input type="text" name="publish" id="publish" data-rule="required"/>
                <div class="validation"></div>
			</div>

			<div class="form-group">
			<p>Subject <span>*</span></p>	
			<span class="icon-case"></span>
                <input type="text" name="sujet" id="sujet" data-rule="required"/>
                <div class="validation"></div>
			</div>
		
				
	</div>
	</div>
<button type="submit" class="bouton-contact">Scan</button>
	
</form>	

  
</body>
</html>

